   .user-card {
         display: flex;
         align-items: center;
         margin-bottom: 10px;
         border: 1px solid #dee2e6;
         border-radius: 10px;
         padding: 5px;
         width: 100%;
         text-align: center;
         overflow: auto;
         animation: glow 3s infinite alternate; 
         }
         @keyframes glow {
         from {
         border-color: #000; 
         }
         to {
         border-color: #fff; 
         }
         }
         .user-card img {
         max-width: 100%;
         border-radius: 10px;
         margin-right: 10px;
         }
         .user-info {
         flex-grow: 1;
         }
         .user-info h4 {
         margin-left: 3px;
         margin-bottom: 3px;
         font-size: 16px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         text-align: start;
         }
         .user-info p {
         margin: 0;
         font-size: 12px;
         white-space: nowrap;
         overflow: hidden;
         text-overflow: ellipsis;
         text-align: start;
         }
         p {
         padding: 3px;
         }
         p.uptime-user {
         }